@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../_variables.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;

  main {
    padding-top: 5rem;
    padding-bottom: 4rem;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .cartMenu {
      min-width: 20rem;
      padding: 1rem;
      border: 0.1rem solid;
      border-radius: 0.25rem;

      h3 {
        font-size: x-large;
        color: $vivid-violet500;
      }

      li {
        button {
          margin-left: 2rem;
        }
      }

      button {
        margin-top: 1rem;
        padding: 0.2rem 0.5rem;
        background-color: $vivid-violet500;
        border: 0.1rem solid;
      }
    }
  }
}
