// Wygenerowane za pomocą strony: https://uicolors.app/create

$vivid-violet50: #fbf7fc;
$vivid-violet100: #f6edfa;
$vivid-violet200: #eddbf3;
$vivid-violet300: #e0bee9;
$vivid-violet400: #cf98da;
$vivid-violet500: #b76ec7;
$vivid-violet600: #9c4faa;
$vivid-violet700: #8c4497;
$vivid-violet800: #6b3573;
$vivid-violet900: #5b305f;
$vivid-violet950: #38163c;