@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../_variables.scss';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

